[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=KhtBMA
Exec=/usr/bin/invoker --type=e --single-instance /opt/khtbma/__init__.py
Icon=khtbma

